@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #111; /* 1.) Добавили фон */
  height: 100vh; /* 2) body занимает 100% пространства */
  display: flex; /* 3) выравниваем все слайды корректно */
  justify-content: center; /* 4) Выравниваем контент по центру */
  align-items: center; /* 5) Выравниваем по центру по вертикали */
}

.container { /* 6) Задаем стили для контейнера */
  width: 100%; /* 7)задаем ему ширину 100% */
  display: flex; /* 8) */
  padding: 0 20px; /* 9) отступы от содержимого */
}

.slide { /* 10) Задаем стили для слайдов */
  height: 80vh; /* 11) Делаем высоту слайдов 80% от видимого на экране */
  border-radius: 20px; /* 12) Делаем закругления наших слайдов */
  margin: 10px; /* 13) Делаем отступ между слайдами */
  cursor: pointer; /* 14) */
  color: #fff; /* 15) Делаем текст белым */
  flex: 1; /* 16) Задаем чтобы каждый слайд растягивался пропорциональна видимой страницу */
  background-size: cover; /* 17) позиционирование картинки */
  background-position: center; /* 18) позиционирование картинки (центр) */
  background-repeat: no-repeat; /* 19) не повторять по вертикали и горизонтали */
  position: relative; /* 22) Делаем заголовок (текст) позиционированным относительно этого блока */
  transition: all 500ms ease-in-out; /* 32) Анимируем наши слайды все за 500млсек */
}

.slide h3 { /* 20) Для заголовка ( текста задаем параметры) */
  position: absolute; /* 21)  */
  font-size: 24px; /* 22) высота текста */
  bottom: 20px; /* 23) отступ с низу 20пикс */
  left: 20px; /* 24) отступ слева 20 пикс */
  margin: 0; /* 25) убираем стоковые отступы */
  opacity: 0; /* 29) убираем показ заголовков  */
}

.slide.active { /* 27) добавили класс active (начинаем делать анимацию) */
  flex: 10; /* 28) Если слайд активный то он становится в 10 раз больше чем остальные */
}

.slide.active h3 { /* 30) Когда слайд активный мы применяет эти значения к заголовку */
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s; /* 31) анимация для опасити */
}